<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Money collector</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/solar/bootstrap.min.css" integrity="sha384-NCwXci5f5ZqlDw+m7FwZSAwboa0svoPPylIW3Nf+GBDsyVum+yArYnaFLE9UDzLd" crossorigin="anonymous">
    <style>
        * {
            outline: none;
        }

        .nav-tabs .nav-link.active {
            border-bottom-color: transparent;
        }

        @media screen and (min-width: 960px) {
            .event-info .input-group .input-group-prepend .input-group-text {
                width: 150px;
            }
        }

    </style>
</head>
<body>
    <div id="app" class="container pt-1">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link disabled" href="javascript:void(0);" tabindex="-1" aria-disabled="true">Events:</a>
            </li>
            <li v-for="(event, i) in events" class="nav-item">
                <a @click="onEventSelect(i)" href="javascript:void(0);" class="nav-link" :class="{active: i === selectedEvent}">{{event.name}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-primary" href="javascript:void(0);" @click="onEventNew" tabindex="100000">Add new</a>
            </li>
        </ul>
        <div v-if="sEvent">
            <h2 class="mt-3">Event: {{sEvent.name}} <button type="button" class="btn btn-warning btn-sm" @click="onEventDelete">Delete</button></h2>
            <div class="row event-info">
                <div class="col-lg-8">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Name</div>
                        </div>
                        <input type="text" class="form-control" :value="sEvent.name" @input="onEventNameChange">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Info</div>
                        </div>
                        <textarea class="form-control" :value="sEvent.info" @input="onEventInfoChange"></textarea>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Per member</div>
                        </div>
                        <input type="number" class="form-control" :value="sEvent.required" @input="onEventRequiredChange">
                        <div class="input-group-append">
                            <div class="input-group-text">{{sEvent.currency}}</div>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Goal</div>
                        </div>
                        <input type="number" class="form-control" :value="sEvent.goal" @input="onEventGoalChange">
                        <div class="input-group-append">
                            <div class="input-group-text">{{sEvent.currency}}</div>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Actual</div>
                        </div>
                        <div class="form-control" >{{sEvent.actual}}</div>
                        <div class="input-group-append">
                            <div class="input-group-text">{{sEvent.currency}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-6">
                    <h2>
                        Members
                        <button type="button" class="btn btn-primary btn-sm" @click="onMemberAdd">Add</button>
                    </h2>
                </div>
                <div class="col-lg-4 mt-2">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Copy from</div>
                        </div>
                        <select class="custom-select w-auto custom-select-sm" @input="onEventCopyMembers">
                            <option value="-1" selected=""></option>
                            <option v-for="(event, i) in events" :value="i">{{event.name}}</option>
                        </select>
                    </div>

                </div>
                <div class="col-lg-2 mt-2">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Show: </div>
                        </div>
                        <button type="button" class="btn btn-sm" @click="onMembersFilterChange" :class="membersFilter ? 'btn-info': 'btn-secondary'">{{membersFilter ? 'Waiting': 'All'}}</button>
                    </div>
                </div>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" style="width: 30px;"></th>
                        <th scope="col">Name</th>
                        <th scope="col" style="width: 150px;">Amount</th>
                        <th scope="col">Status</th>
                        <th scope="col">Comment</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(member, i) in sEvent.filteredMembers">
                        <th scope="row">{{i + 1}}</th>
                        <td><button type="button" class="btn btn-warning btn-sm" @click="onMemberDelete(i)">X</button></td>
                        <td><span @click="onMemberRename(i)" style="text-decoration: underline; cursor: pointer;">{{member.name}}</span></td>
                        <td><input type="number" class="form-control" title="Required" :value="member.required" @input="onMemberRequiredChange(i, $event)"></td>
                        <td><button type="button" class="btn" :class="member.done ? 'btn-success' : 'btn-link'" @click="onMemberDone(i)">{{member.done ? 'Payed' : 'Waiting...'}}</button></td>
                        <td><input type="text" class="form-control" title="Comment" :value="member.comment" @input="onMemberCommentChange(i, $event)"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>
