<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Money collector</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/solar/bootstrap.min.css" integrity="sha384-NCwXci5f5ZqlDw+m7FwZSAwboa0svoPPylIW3Nf+GBDsyVum+yArYnaFLE9UDzLd" crossorigin="anonymous">
    <style>
        * {
            outline: none;
        }

        .nav-tabs .nav-link.active {
            border-bottom-color: transparent;
        }
    </style>
</head>
<body>
    <div id="app" class="container pt-1">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link disabled" href="javascript:void(0);" tabindex="-1" aria-disabled="true">Events:</a>
            </li>
            <li v-for="(event, i) in events" class="nav-item">
                <a @click="onEventSelect(i)" href="javascript:void(0);" class="nav-link" :class="{active: i === selectedEvent}">{{event.name}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-primary" href="javascript:void(0);" @click="onEventNew" tabindex="100000">Add new</a>
            </li>
        </ul>
        <div v-if="sEvent">
            <h2 class="mt-3">Event: {{sEvent.name}}</h2>
            <div class="form-row">
                <div class="col-auto">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Name</div>
                        </div>
                        <input type="text" class="form-control" :value="sEvent.name" @input="onEventNameChange">
                    </div>
                </div>
                <div class="col-auto">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Default required</div>
                        </div>
                        <input type="text" class="form-control" :value="sEvent.required" @input="onEventRequiredChange">
                    </div>
                </div>
                <div class="col-auto">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Actual</div>
                        </div>
                        <input type="text" class="form-control" readonly :value="sEvent.actual">
                    </div>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-danger" @click="onEventDelete">Delete</button>
                </div>
            </div>
            <h2 class="mt-3">Members</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col" style="width: 150px;">Required</th>
                        <th scope="col">Status</th>
                        <th scope="col">Comment</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(member, i) in sEvent.members">
                        <th scope="row">{{i + 1}}</th>
                        <td>{{member.name}}</td>
                        <td><input type="text" class="form-control" title="Required" :value="member.required" @input="onMemberRequiredChange(i, $event)"></td>
                        <td>
                            <button type="button" class="btn" :class="member.closed ? 'btn-success' : 'btn-secondary'" @click="onMemberClosed(i)">Closed</button>
                            <button type="button" class="btn" :class="member.ignore ? 'btn-success' : 'btn-secondary'" @click="onMemberIgnore(i)">Ignore</button>
                        </td>
                        <td><input type="text" class="form-control" title="Comment" :value="member.comment" @input="onMemberCommentChange(i, $event)"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>
